<nav class="navbar navbar-expand-md bg-body-light border-bottom sticky-top" style="height: 4rem;margin-bottom: 2rem;background-color: white;">
  <div class="container-fluid" style="font-weight: 500;font-size: larger;">
    <a class="navbar-brand" href="/" style="margin-right: 5rem;">Online test</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse bg-white " id="navbarNavAltMarkup">
      <div class="navbar-nav " style="margin-left: 15rem;">
        <% for(let i = 1; i <= test.questions.length; i++) { %>
          <!-- Include the test ID in the action URL -->
          <form class="nav-link ms-lg-3" method="post" action="/startTest/<%= test._id %>">
            <button class="btn <%= number === i ? 'btn-success' : 'btn-outline-primary' %>" name="number" value="<%= i - 1 %>" style="height: 2rem;width: 2rem;">
              <%= i %>
            </button>
          </form>
        <% } %>
      </div>

      <div class="time ms-auto me-3" style="display: flex;">
        Time : &nbsp;&nbsp;<p id="timer">Time : 00:00</p>
      </div>
      <hr>
    </div>
  </div>
</nav>
