<% layout("/layouts/boilerplate") %>

<body style="display: flex;justify-content: center;align-items: center;">
    
    <form action="/" method="get">
        <div style="height: 30vh;display: flex;justify-content: center;align-items: center;">
            <p>Test Ended Due TO Suspecious Activity</p>
        </div>
        <button class="btn btn-dark"> Return  Home</button>
    </form>
    
</body>